In [24]:
#install the following packages if not yet installed: 
## install the following if not yet installed: ipython-sql, numpy, pandas
## for gsheets, install the ff: gspread, google-auth


from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

import sqlite3
import numpy as np
import pandas as pd

In [25]:
%load_ext sql

In [26]:
### CREATING THE DATABASE AND TABLE

# Create/Connect the SQLite Database
conn = sqlite3.connect('SLF.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Create the table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS SLFClients (
        id INTEGER PRIMARY KEY,
        Year INTEGER,
        Month INTEGER,
        Process_Date TEXT,
        Policy_Owner TEXT,
        Policy_Number NUMBER
        Product TEXT,
        Gender TEXT,
        Age INTEGER,
        Location TEXT,
        Social_Status TEXT,
        Premium_Mode TEXT,
        Source TEXT
    )
''')

# Confirm changes
conn.commit()
conn.close()

In [27]:
###Import data from CSV to database

#Reading the CSV
csv_path = 'D:\Jupyter Data Sets\Client_Data.csv'
df = pd.read_csv(csv_path)
df.head()

#Uploading the CSV to SLF database
from sqlalchemy.engine import create_engine
engine = create_engine('sqlite:///SLF.db')
table_name = 'SLFClients'
df.to_sql(table_name, engine, index=False, if_exists='replace')

70

In [30]:
import gspread
from google.oauth2.service_account import Credentials

spreadsheet_key = '1dYgtqShVxA2KRe7Nkou02NMwABRiYwi9CI_YC4H133g'
scope = ['https://spreadsheets.google.com/feeds']

# Load Google Sheets credentials
credentials = Credentials.from_service_account_file(
    "./slf-credentials-907ee3903471.json",
    scopes=scope
)

# Authorize with gspread
gc = gspread.authorize(credentials)

# Open the Google Sheet by key
worksheet = gc.open_by_key(spreadsheet_key).sheet1

# Get all values from the worksheet
data = worksheet.get_all_values()

# Separate headers and data
headers = data.pop(0)

# Create a Pandas DataFrame
df = pd.DataFrame(data, columns=headers)

#Uploading the CSV to SLF database
from sqlalchemy.engine import create_engine
engine = create_engine('sqlite:///SLF.db')
table_name = 'SLFClients'
df.to_sql(table_name, engine, index=False, if_exists='replace')

# Display the DataFrame
df.head()

,Year,Month,Process_Date,Policy_Owner,Policy_Number,#,Product,Gender,Age,Age_Bracket,Location,Social_Status,Premium_Mode,Source,Market
0,2022,1,"January 3, 2022",Lionel Messi,506192083,1,FIT & WELL,Male,29,20 - 29,"Pasig City, Metro Manila",Single,Quarterly,Active,Warm
1,2022,1,"January 18, 2022",Cristiano Ronaldo,833616838,1,PRIME,Male,26,20 - 29,"Mandaluyong City, Metro Manila",Single,Monthly,Active,Warm
2,2022,1,"January 26, 2022",Neymar Jr.,833373595,1,PRIME,Male,31,30 - 39,"Quezon City, Metro Manila",Married w/ kids,Quarterly,Referral,Cold

In [29]:
###Running the Query

# Connect to the SQLite database

%sql sqlite:///SLF.db

# Write the query here

sql_query = '''
   
'''

# Execute the SQL query and display results
result = %sql $sql_query
result.DataFrame()

 * sqlite:///SLF.db
Done.

,Year,Month,Process_Date,Policy_Owner,Policy_Number,#,Product,Gender,Age,Age_Bracket,Location,Social_Status,Premium_Mode,Source,Market
0,2022,1,"January 3, 2022",Lionel Messi,506192083,1,FIT & WELL,Male,29,20 - 29,"Pasig City, Metro Manila",Single,Quarterly,Active,Warm
1,2022,1,"January 18, 2022",Cristiano Ronaldo,833616838,1,PRIME,Male,26,20 - 29,"Mandaluyong City, Metro Manila",Single,Monthly,Active,Warm
2,2022,1,"January 26, 2022",Neymar Jr.,833373595,1,PRIME,Male,31,30 - 39,"Quezon City, Metro Manila",Married w/ kids,Quarterly,Referral,Cold
3,2022,2,"February 7, 2022",Mohamed Salah,833780522,1,PRIME,Male,24,20 - 29,"Candelaria, Zambales",Single,Annual,Active,Warm
4,2022,3,"March 14, 2022",Kylian Mbappé,506587185,1,ELITE,Male,30,30 - 39,"Tanza, Cavite",Married w/ kids,Annual,Active,Warm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,2023,10,"October 9, 2023",Conor McGregor,850256860,1,BRIGHT,Male,32,30 - 39,"Bacolod, Negros Occ",Single,Quarterly,Active,Cold
67,2023,10,"October 25, 2023",Eloisa Elumba Okutomi,509508812,1,FIT & WELL,Female,32,30 - 39,"Taguig, Metro Manila",Married w/ kids,Annual,Passive,Cold
68,2023,10,"October 27, 2023",Heart Segovia,,1,PRIME,Female,21,20 - 29,"Manila, Metro Manila",Single,Monthly,Passive,Cold
69,2023,10,"October 27, 2023",Roselle Busuego,,1,PRIME,Female,23,20 - 29,"Manila, Metro Manila",Single,Monthly,Passive,Cold
70,2023,10,"October 27, 2023",Kobe Bryant,,1,PRIME,Male,23,20 - 29,"Manila, Metro Manila",Single,Monthly,Passive,Cold

In [23]:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
    x == "banana"
    break
print(x)

apple